<!DOCTYPE html>
<html lang="{{ config.default_language }}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}{{ config.title }}{% endblock title %}</title>
<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>
<nav style="display:flex; justify-content:space-between; padding:0.5em 1em;">
  <div>
    <a href="{{ config.base_url }}/">&lt; Home</a>
    <a href="{{ get_url(path='@/posts/_index.md') }}">Posts</a>
    <a href="{{ get_url(path='@/sitemap.md') }}">Sitemap</a>
  </div>
  <div>
    <a href="https://github.com/shunlog">My Github</a>
  </div>
</nav>
<div id="content" class="content">
{% block content %}{% endblock content %}
</div>
</body>
</html>
